// fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');


// NOTE color-scheme
// * Light Mode
    $bg-color: #ffffff;
    $main-text: #000000;
    $muted-text: #6c757d;

    $navbar-bg-color: #ffffff;
    $navbar-text: #000000;
    $navbar-link: #416cae;

    $accent-color: rgb(147, 47, 54);

    
// * Dark Mode
